*{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body{
    background-color: rgb(167, 167, 167);
}
h1{
    font-size: 40px;
}

.square{
    border:2px solid rgb(247, 239, 239); 
    width:96vw;
    height:600px;
    background-color: rgb(248, 247, 245);
    border-radius:5px;
    margin: 5px;
}

.round{ 
    background-color: goldenrod;
    height: 400px;
    margin: 5px;
    padding: 25px;
    border-radius:5px;
}

.players{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    justify-items: center;
    margin:30px;
    background-color: goldenrod;
}

.totalRound{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    justify-items: center;
    border: 2px solid black;
    margin:60px;
    font-weight: bold;
    font-size: large;
    font-size: 25px;
}

button{
    width:130px;
    height:80px;
    font-size: larger;
    font-weight: bold;
    font-size: 24px;
    margin-top: 30px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(167, 167, 167);
}

button:active{
    background-color: goldenrod;
}

.final{
    background-color: rgb(72, 71, 68);
    height: 100px;
    margin: 5px;
    padding: 20px;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;

}